.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    justify-content: space-between;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_right {
    align-self: flex-end;
    position: relative;
    height: 100vh;
    top: 10px;
}

.checkout_cart {
    display: flex;
    flex-direction: column;
    background-color: white;
}