.checkoutProduct {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    max-width: 100vh;
}

.checkoutProduct_info {
    padding-left: 20px;
}

.checkoutProduct_info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    height: 30px;
}

.checkoutProduct_info > button:active {
    border: 2px solid;
}

.checkoutProduct_info > button:hover {
    background: #a38437;
}

.checkoutProduct_image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating {
    display: flex;
}

.checkoutProduct_title {
    font-size: 17px;
    font-weight: 800;
}