.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    max-width: 20%;
    /* min-width: auto; */
    background-color: white;
    z-index: 1;
    transition: transform 0.2s;
    border-radius: 3px;
}

.product:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 5px black;
}

.product_rating {
    display: flex;
}

.product_info {
    margin-bottom: 15px;
}

.product > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: auto;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 3px;
    height: 30px;
}

.product > button:active {
    border: 2px solid;
}

.product > button:hover {
    background: #a38437;
}

.product_price {
    margin-top: 5px;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}