.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
    justify-content: space-between;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 90px;
}

.checkout_title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_right {
    margin-top: 50px;
    /* position: fixed;
    right: 220px;
    top: 70px; */
}

.checkout_cart {
    display: flex;
    flex-direction: column;
    background-color: white;
}